<!-- Formulario crear proyecto -->

<nb-card>
    <nb-card-header>
        <h1>Crear Proyecto</h1>
    </nb-card-header>

    <nb-card-body>
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div  class="form-group">
                <input nbInput type="text" class="form-control" formControlName="name" id="name"
                    placeholder="Nombre del proyecto">
            </div>
            <div class="form-group">
                <input nbInput type="date" class="form-control" formControlName="startDate" id="startDate"
                    placeholder="Fecha de Inicio">
            </div>

            <div class="form-group">
                <input nbInput type="date" class="form-control" formControlName="endDate" id="endDate"
                    placeholder="Fecha de Finalización">
            </div>

            <div class="form-group">
                <textarea nbInput class="form-control" formControlName="description" id="description"
                    rows="3"></textarea>
            </div>
            <div class="form-group">
                <nb-select formControlName="status" id="status">
                    <nb-option value="1">Activo</nb-option>
                    <nb-option value="0">Inactivo</nb-option>
                </nb-select>

            </div>
            <button style="width: 100%;" nbButton type="submit" class="btn btn-primary">Crear Proyecto</button>
        </form>
    </nb-card-body>

</nb-card>