.control-status-example {
    padding: 0.25rem;
    margin: 0.25rem;
  }

  .margin{
    margin-right: 15px;
  }


  nb-icon {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
    align-items: right;

    &:hover {
        color: #ccc;
    }

    position: relative;
}